.markdown {
  /* margin: 40px auto; */
  padding: 40px;
  line-height: 2;
  overflow-wrap: break-word; /* Break long words/links */
  width: 50vw; /* Take up 50% of viewport width */
  height: 80vh; /* Max height to avoid overflow */
  background: #f8f9fa; /* Lighter background for a fresher look */
  border-radius: 20px; /* Slightly reduced for a modern aesthetic */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* More subtle shadow for depth */
  overflow-y: auto; /* allow scrolling inside */
}

/* Adjust bullet point indentation */
.markdown li {
  margin-left: 40px; /* Indent bullet points */
}

@media (max-width: 480px) {
  .markdown {
    padding: 20px; /* Slightly smaller padding for small screens */
    width: 95vw;
    font-size: 16px; /* Mobile-friendly font size */
    line-height: 1.5; /* Better readability */
    margin: 0 auto; /* Center content */
  }
}
